version: "latest"

networks:
    public:
        name: scylla_rust_driver_public
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 172.42.0.0/16
services:
    scylla1:
        image: scylladb/scylla
        networks:
            public:
                ipv4_address: 172.42.0.2
        ports:
            - "127.0.0.2:9042:9042"
        volumes:
            - ./certs:/etc/scylla/certs:ro
            - ./scylla1.yaml:/etc/scylla/scylla.yaml:ro
        command: |
            --rpc-address 172.42.0.2
            --broadcast-rpc-address 127.0.0.2
            --listen-address 172.42.0.2
            --seeds 172.42.0.2
            --skip-wait-for-gossip-to-settle 0
            --ring-delay-ms 0
            --smp 2
            --memory 1G
            --reactor-backend=epoll
        healthcheck:
            test: ["CMD-SHELL", "exec 3<>/dev/tcp/172.42.0.2/9042"]
            interval: 10s
            timeout: 5s
            retries: 60
            start_period: 120s
    scylla2:
        image: scylladb/scylla
        networks:
            public:
                ipv4_address: 172.42.0.3
        ports:
            - "127.0.0.3:9042:9042"
        volumes:
            - ./certs:/etc/scylla/certs:ro
            - ./scylla2.yaml:/etc/scylla/scylla.yaml:ro
        command: |
            --rpc-address 172.42.0.3
            --broadcast-rpc-address 127.0.0.3
            --listen-address 172.42.0.3
            --seeds 172.42.0.2
            --skip-wait-for-gossip-to-settle 0
            --ring-delay-ms 0
            --smp 2
            --memory 1G
            --reactor-backend=epoll
        healthcheck:
            test: ["CMD-SHELL", "exec 3<>/dev/tcp/172.42.0.3/9042"]
            interval: 10s
            timeout: 5s
            retries: 60
            start_period: 120s
        depends_on:
            scylla1:
                condition: service_healthy
    scylla3:
        image: scylladb/scylla
        networks:
            public:
                ipv4_address: 172.42.0.4
        ports:
            - "127.0.0.4:9042:9042"
        volumes:
            - ./certs:/etc/scylla/certs:ro
            - ./scylla3.yaml:/etc/scylla/scylla.yaml:ro
        command: |
            --rpc-address 172.42.0.4
            --broadcast-rpc-address 127.0.0.4
            --listen-address 172.42.0.4
            --seeds 172.42.0.2,172.42.0.3
            --skip-wait-for-gossip-to-settle 0
            --ring-delay-ms 0
            --smp 2
            --memory 1G
            --reactor-backend=epoll
        healthcheck:
            test: ["CMD-SHELL", "exec 3<>/dev/tcp/172.42.0.4/9042"]
            interval: 10s
            timeout: 5s
            retries: 60
            start_period: 120s
        depends_on:
            scylla2:
                condition: service_healthy
